@page
@model WebApp.Pages.Html.IndexModel
@{
}

<h4>単純にこうするしかない？</h4>
<button type="button" class="btn btn-primary">@Loc[nameof(register)]</button>
<br />

<h4>select/optgroup用法</h4>
<select name="example1" class="form-select form-select-sm">

    <optgroup label="グループA">
        <option value="A1" label="A-1">サンプルA-1</option>
        <option value="A2" label="A-2">サンプルA-2</option>
        <option value="A3" label="A-3">サンプルA-3</option>
    </optgroup>

    <optgroup label="グループB">
        <option value="B1" label="B-1">サンプルB-1</option>
        <option value="B2" label="B-2">サンプルB-2</option>
        <option value="B3" label="B-3">サンプルB-3</option>
    </optgroup>

    <optgroup label="グループC">
        <option value="C1" label="C-1">サンプルC-1</option>
        <option value="C2" label="C-2">サンプルC-2</option>
        <option value="C3" label="C-3">サンプルC-3</option>
    </optgroup>

</select>